 div{
  margin:50px 50px 50px 50px;
  
  border-radius:5px;

}
button{
  background-color:lightblue;
  
}

body {
  
  color:black;
}
#search{


width:30%;
color:black;
}
a,a:hover{
  color:black;
  text-decoration:none;
}
